@use 'variables';
@import '../helpers/maps';

$base-color: #2867cc;

$colorScale: 3;

$colors: (
    'a': (
      value: #5375EE,
      name: 'blue',
      scale: $colorScale
    ),
    'b': (
      value: #576CB7,
      name: 'red',
      scale: $colorScale
    ),
    'c': (
      value: #3C4D67,
      name: 'yellow',
      scale: $colorScale
    ),
    'd': (
      value: #283571,
      name: 'yellow',
      scale: $colorScale
    ),
    'e': (
      value: #ff0000,
      name: 'yellow',
      scale: $colorScale
    ),
    'f': (
      value: #0c8484,
      name: 'grreen',
      scale: $colorScale
    ),
    'g': (
      value: #0000ff,
      name: 'yellow',
      scale: $colorScale
    )
  );