@use 'variables';
@import '../helpers/maps';

$base-color: #2867cc;

$colorScale: 6;

$colors: (
    'a': (
      value: #2867cc,
      name: 'blue',
      scale: $colorScale
    ),
    'b': (
      value: #d32929,
      name: 'red',
      scale: $colorScale
    ),
    'c': (
      value: #6e821c,
      name: 'yellow',
      scale: $colorScale
    )
  );