@use 'variables';
@import '../helpers/maps';

$base-color: #2867cc;

$colorScale: 1;

$colors: (
    'a': (
      value: #5375EE,
      name: 'blue',
      scale: $colorScale
    ),
    'b': (
      value: #576CB7,
      name: 'red',
      scale: $colorScale
    ),
    'c': (
      value: #3C4D67,
      name: 'yellow',
      scale: $colorScale
    ),
    'd': (
      value: #283571,
      name: 'yellow',
      scale: $colorScale
    )
  );