@use 'sass:color';
@use 'sass:math';

@function colorTest($color, $sat) {
  $changed: change-color($color, 
              $saturation: saturation($color) + $sat);
  @return $changed;
}

@function diff($colorSat, $colorLum) {
  @if ($colorSat >= $colorLum and $colorSat < 100) {
    $diff: 100 - $colorSat;
    @return $diff;
  } @else if ($colorLum >= $colorSat and $colorLum < 100) {
    $diff: 100 - $colorSat;
    @return $diff;
  } @else {
    $diff: 0;
    @return $diff;
  }
}

@function color($color, $value: 0, $colorScale: 6) {
  $colorHue: hue($color);
  $colorSat: saturation($color);
  $colorLum: lightness($color);

  // @return $colorHue, $colorSat, $colorLum;

  // take the difference between the greater value and 100. If the differ
  @if ($value == 0 or $value == null) {

    @return $color;

  } @else if ($colorSat >= $colorLum and $colorSat < 100) {

    // difference between the colors saturation and 100
    $diff: 100 - $colorSat;

    @if ($value > 0) {
        $adjustedValue: math.div(stripUnit($diff), $colorScale);

        // Sum of consecutive numbers based on the value used to change the base color
        $newSat: 0 - percentage(calc(($value + math.div($value, 2) * (1 + $value)) / 100));

        $newLum: calc($diff * (1 / abs($adjustedValue)));

        $i: 1;
        @while $i < $value {
          $i: $i + 1;
          $newLum: $newLum + calc($diff * (1 / abs($adjustedValue)));
        }

        // @return $newSat, $newLum, $diff, $adjustedValue;
        @return color.adjust($color, $saturation: $newSat, $lightness: $newLum);
      

      // when value is neg
      } @else if ($value < 0) {

        $adjustedValue: math.div(stripUnit($diff), $colorScale);

        // Sum of consecutive numbers based on the value used to change the base color
        $newSat: percentage(calc((abs($value) + math.div(abs($value), 2) * (1 + abs($value))) / 100));

        $newLum: calc($diff * (1 / abs($adjustedValue)));

        $i: -1;
        @while $i > $value {
          $i: $i - 1;
          $newLum: $newLum + calc($diff * (1 / abs($adjustedValue)));
        }

        $newLum: 0 - $newLum;

        // @return $newSat, $newLum, $diff, $adjustedValue;
        @return color.adjust($color, $saturation: $newSat, $lightness: $newLum);
      }

    } @else if ($colorLum >= $colorSat and $colorLum < 100) {
      $diff: 100 - $colorLum;

      

    } @else {
      $diff: 0;
      @return $diff;
    }
}