@use 'sass:map';
@use 'sass:list';
@import '../base/variables';

$classSizeModifiers: (xxsm xsm sm md lg xlg xxlg);
$sizeModifiers: (0 $xxsm $xsm $sm $md $lg $xlg $xxlg);
$classAxis: (x y t r b l);

$sizeValues: (
  0: 0,
  $xxsm: xxsm,
  $xsm: xsm,
  $sm: sm,
  $md: md,
  $lg: lg,
  $xlg: xlg,
  $xxlg: xxlg,
);

$utilities: (
    'padding-y': (
      class: py,
      properties: padding-top padding-bottom,
      values: $sizeValues
    ),
    'padding-x': (
      class: px,
      properties: padding-left padding-right,
      values: $sizeValues
    ),
    'padding-left': (
      class: pl,
      properties: padding-left,
      values: $sizeValues
    )
  );