@use 'sass:map';
@use 'sass:list';
@import '../base/variables';

$values: (
  0: 0,
  xxsm: $xxsm,
  xsm: $xsm,
  sm: $sm,
  md: $md,
  lg: $lg,
  xlg: $xlg,
  xxlg: $xxlg,
);

$pvalues: (
  0: 0,
  $xxsm: xxsm,
  $xsm: xsm,
  $sm: sm,
  $md: md,
  $lg: lg,
  $xlg: xlg,
  $xxlg: xxlg,
);

$pvalues2: (
  0,
  $xxsm,
  $xsm,
  $sm,
  $md,
  $lg,
  $xlg,
  $xxlg,
);

$classSizeModifiers: (xxsm xsm sm md lg xlg xxlg);

$utilities: (
    'padding-y': (
      class: py,
      properties: padding-top padding-bottom,
      values: $pvalues
    ),
    'padding-x': (
      class: px,
      properties: padding-left padding-right,
      values: $pvalues
    ),
    'padding-left': (
      class: pl,
      properties: padding-left,
      values: $pvalues
    )
  );

  $util: ();

  $util: (
      'padding-y': (
        class: py,
        properties: padding-top padding-bottom,
        values: $pvalues
      ),
      'padding-x': (
        class: px,
        properties: padding-left padding-right,
        values: $pvalues
      ),
      'padding-left': (
        class: pl,
        properties: padding-left,
        values: $pvalues2
      )
  );