@use 'sass:list';
@use "sass:string";
@use 'sass:map';
@import 'maps';


@mixin utilBuild($sizes, $axis, $attributes...) {
  @each $size, $var in $sizes {
    $i: index($sizes, $size);
    @each $axi in $axis {
      $i: index($axis, $axi);
      &#{$axi}-#{$size} { 
        @each $attribute in $attributes{
          #{$attribute}: $var;
        }
      }
    }
  }
}


@mixin utilityBuild($utility, $seperator: '-', $prefix: false) {
  $utilityList: map-get($utilities, $utility);

  $prefix: if($prefix == false, '.', '&');
  
  $utilityClass: map-get($utilityList, class);
  $utilityProperties: map-get($utilityList, properties);
  $utilityValues: map-get($utilityList, values);

  @each $value, $modifier in $utilityValues {
    #{$prefix}#{$utilityClass}#{$seperator}#{$modifier} { 
        @each $property in $utilityProperties {
        #{$property}: $value;
      }
    }
  }
}