*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.u-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.u-py-xxsm {
  padding-top: 0.2360828548em;
  padding-bottom: 0.2360828548em;
}
.u-py-xsm {
  padding-top: 0.3819820591em;
  padding-bottom: 0.3819820591em;
}
.u-py-sm {
  padding-top: 0.6180469716em;
  padding-bottom: 0.6180469716em;
}
.u-py-md {
  padding-top: 1em;
  padding-bottom: 1em;
}
.u-py-lg {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}
.u-py-xlg {
  padding-top: 2.617924em;
  padding-bottom: 2.617924em;
}
.u-py-xxlg {
  padding-top: 4.235801032em;
  padding-bottom: 4.235801032em;
}

.i-pl-0 {
  padding-left: 0;
}
.i-pl-xxsm {
  padding-left: 0.2360828548em;
}
.i-pl-xsm {
  padding-left: 0.3819820591em;
}
.i-pl-sm {
  padding-left: 0.6180469716em;
}
.i-pl-md {
  padding-left: 1em;
}
.i-pl-lg {
  padding-left: 1.618em;
}
.i-pl-xlg {
  padding-left: 2.617924em;
}
.i-pl-xxlg {
  padding-left: 4.235801032em;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-xxsm {
  padding-top: 0.2360828548em;
  padding-bottom: 0.2360828548em;
}

.py-xsm {
  padding-top: 0.3819820591em;
  padding-bottom: 0.3819820591em;
}

.py-sm {
  padding-top: 0.6180469716em;
  padding-bottom: 0.6180469716em;
}

.py-md {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-lg {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}

.py-xlg {
  padding-top: 2.617924em;
  padding-bottom: 2.617924em;
}

.py-xxlg {
  padding-top: 4.235801032em;
  padding-bottom: 4.235801032em;
}

.color__wrapper {
  display: flex;
}

.color {
  height: 8em;
  width: 8em;
}

.color50 {
  background: #b2b8cc;
}

.color100 {
  background: #99a2c3;
}

.color200 {
  background: #828fbd;
}

.color300 {
  background: #6f7fba;
}

.color400 {
  background: #6074b8;
}

.color500 {
  background: #576CB7;
}

.color600 {
  background: #4d64b6;
}

.color700 {
  background: #435bb1;
}

.color800 {
  background: #3850a5;
}

.color900 {
  background: #2c4394;
}

.color1000 {
  background: #20347e;
}