*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.test {
  color: hsl(217, 67%, 48%);
}

.u-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.u-py-xxsm {
  padding-top: 0.2360828548em;
  padding-bottom: 0.2360828548em;
}
.u-py-xsm {
  padding-top: 0.3819820591em;
  padding-bottom: 0.3819820591em;
}
.u-py-sm {
  padding-top: 0.6180469716em;
  padding-bottom: 0.6180469716em;
}
.u-py-md {
  padding-top: 1em;
  padding-bottom: 1em;
}
.u-py-lg {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}
.u-py-xlg {
  padding-top: 2.617924em;
  padding-bottom: 2.617924em;
}
.u-py-xxlg {
  padding-top: 4.235801032em;
  padding-bottom: 4.235801032em;
}

.i-pl-0 {
  padding-left: 0;
}
.i-pl-xxsm {
  padding-left: 0.2360828548em;
}
.i-pl-xsm {
  padding-left: 0.3819820591em;
}
.i-pl-sm {
  padding-left: 0.6180469716em;
}
.i-pl-md {
  padding-left: 1em;
}
.i-pl-lg {
  padding-left: 1.618em;
}
.i-pl-xlg {
  padding-left: 2.617924em;
}
.i-pl-xxlg {
  padding-left: 4.235801032em;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-xxsm {
  padding-top: 0.2360828548em;
  padding-bottom: 0.2360828548em;
}

.py-xsm {
  padding-top: 0.3819820591em;
  padding-bottom: 0.3819820591em;
}

.py-sm {
  padding-top: 0.6180469716em;
  padding-bottom: 0.6180469716em;
}

.py-md {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-lg {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}

.py-xlg {
  padding-top: 2.617924em;
  padding-bottom: 2.617924em;
}

.py-xxlg {
  padding-top: 4.235801032em;
  padding-bottom: 4.235801032em;
}

.color {
  height: 5em;
  width: 5em;
}

.test2 {
  color: #3d78d6;
}

.color50 {
  background: #adc1e1;
}

.color100 {
  background: #92afdd;
}

.color200 {
  background: #769ddb;
}

.color300 {
  background: #5a8ad8;
}

.color400 {
  background: #3d78d6;
}

.color500 {
  background: hsl(217, 67%, 48%);
}

.color600 {
  background: #215ab5;
}

.color700 {
  background: #1a4c9e;
}

.color800 {
  background: #123f87;
}

.color900 {
  background: #0c326f;
}

.color1000 {
  background: #062556;
}