*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.test-xxxsm {
  padding: 0 0.2360828548em 0 0.2360828548em;
}
.test-xxsm {
  padding: 0 0.3819820591em 0 0.3819820591em;
}
.test-xsm {
  padding: 0 0.6180469716em 0 0.6180469716em;
}
.test-xmd {
  padding: 0 1em 0 1em;
}
.test-xlg {
  padding: 0 1.618em 0 1.618em;
}
.test-xxlg {
  padding: 0 2.617924em 0 2.617924em;
}
.test-xxxlg {
  padding: 0 4.235801032em 0 4.235801032em;
}
.test-yxxsm {
  padding: 0.2360828548em 0 0.2360828548em 0;
}
.test-yxsm {
  padding: 0.3819820591em 0 0.3819820591em 0;
}
.test-ysm {
  padding: 0.6180469716em 0 0.6180469716em 0;
}
.test-ymd {
  padding: 1em 0 1em 0;
}
.test-ylg {
  padding: 1.618em 0 1.618em 0;
}
.test-yxlg {
  padding: 2.617924em 0 2.617924em 0;
}
.test-yxxlg {
  padding: 4.235801032em 0 4.235801032em 0;
}
.test-txxsm {
  padding: 0.2360828548em 0 0 0;
}
.test-txsm {
  padding: 0.3819820591em 0 0 0;
}
.test-tsm {
  padding: 0.6180469716em 0 0 0;
}
.test-tmd {
  padding: 1em 0 0 0;
}
.test-tlg {
  padding: 1.618em 0 0 0;
}
.test-txlg {
  padding: 2.617924em 0 0 0;
}
.test-txxlg {
  padding: 4.235801032em 0 0 0;
}
.test-rxxsm {
  padding: 0 0.2360828548em 0 0;
}
.test-rxsm {
  padding: 0 0.3819820591em 0 0;
}
.test-rsm {
  padding: 0 0.6180469716em 0 0;
}
.test-rmd {
  padding: 0 1em 0 0;
}
.test-rlg {
  padding: 0 1.618em 0 0;
}
.test-rxlg {
  padding: 0 2.617924em 0 0;
}
.test-rxxlg {
  padding: 0 4.235801032em 0 0;
}
.test-bxxsm {
  padding: 0 0 0.2360828548em 0;
}
.test-bxsm {
  padding: 0 0 0.3819820591em 0;
}
.test-bsm {
  padding: 0 0 0.6180469716em 0;
}
.test-bmd {
  padding: 0 0 1em 0;
}
.test-blg {
  padding: 0 0 1.618em 0;
}
.test-bxlg {
  padding: 0 0 2.617924em 0;
}
.test-bxxlg {
  padding: 0 0 4.235801032em 0;
}
.test-lxxsm {
  padding: 0 0 0 0.2360828548em;
}
.test-lxsm {
  padding: 0 0 0 0.3819820591em;
}
.test-lsm {
  padding: 0 0 0 0.6180469716em;
}
.test-lmd {
  padding: 0 0 0 1em;
}
.test-llg {
  padding: 0 0 0 1.618em;
}
.test-lxlg {
  padding: 0 0 0 2.617924em;
}
.test-lxxlg {
  padding: 0 0 0 4.235801032em;
}