@use '../base/colors';
// @use '../helpers/functions';

// @debug map-get($colors, a, value);

.color__wrapper {
  display: flex;
}
.color {
  height: 8em;
  width: 8em;
}
.color50 {
  background: color(c, 5);
}
.color100 {
  background: color(c, 4);
}
.color200 {
  background: color(c, 3);
}
.color300 {
  background: color(c, 2);
}
.color400 {
  background: color(c, 1);
}
.color500 {
  background: color(c);
}
.color600 {
  background: color(c, -1);
}
.color700 {
  background: color(c, -2);
}
.color800 {
  background: color(c, -3);
}
.color900 {
  background: color(c, -4);
}
.color1000 {
  background: color(c, -5);
}